body
	//hacerventa.html css stylesheet
	.page-content
		#lectorqr-content
			#reader 
				margin-bottom 10px
		#lectorqr-form
			text-align center
			@media (min-width: 765px)
				padding-top 0px
			@media (max-width: 764px)
				padding-top 0 !important
			input, textarea
				background-color white !important