<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title><?PHP echo $titulosoft ?></title>
	<meta name="description" content="Ventas &amp; QRscanner" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Css propio-->
	<link rel="stylesheet" type="text/css" href="css/cssofmine.css">

	<!--Hojas de estilo basicas (Bootstrap, etc)-->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<!--[if IE 7]> <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" /> <![endif]-->

	<!--Fonts-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

	<!--Hojas de estilo ACE-->
	<link rel="stylesheet" href="assets/css/ace.min.css" />
	<link rel="stylesheet" href="assets/css/ace-responsive.min.css" />
	<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
	<!--[if lte IE 8]> <link rel="stylesheet" href="assets/css/ace-ie.min.css" /> <![endif]-->

	<!--inline styles related to this page-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="js/jquery-1.11.2.min.js"></script>
	<style type="text/css"></style>

</head>

<body class="<?PHP echo $skin; ?>">
<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">
						<small>
							<i class="icon-bolt"></i>
							<?PHP echo $titulosoft ?>
							<small> - Sucursal #1</small>
						</small>
					</a><!--/.brand-->
					<!-- Inicio header y notificaciones -->
					<ul class="nav ace-nav pull-right">
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-tasks"></i>
								<span class="badge badge-grey">4</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-ok"></i>
									4 Tasks to complete
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">Software Update</span>
											<span class="pull-right">65%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:65%" class="bar"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">Hardware Upgrade</span>
											<span class="pull-right">35%</span>
										</div>

										<div class="progress progress-mini progress-danger">
											<div style="width:35%" class="bar"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">Unit Testing</span>
											<span class="pull-right">15%</span>
										</div>

										<div class="progress progress-mini progress-warning">
											<div style="width:15%" class="bar"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">Bug Fixes</span>
											<span class="pull-right">90%</span>
										</div>

										<div class="progress progress-mini progress-success progress-striped active">
											<div style="width:90%" class="bar"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										See tasks with details
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">8</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-warning-sign"></i>
									8 Notificaciones
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-pink icon-comment"></i>
												New Comments
											</span>
											<span class="pull-right badge badge-info">+12</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="btn btn-mini btn-primary icon-user"></i>
										Bob just signed up as an editor ...
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-success icon-shopping-cart"></i>
												Nuevos pedidos online
											</span>
											<span class="pull-right badge badge-success">+8</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-mini no-hover btn-info icon-twitter"></i>
												Followers
											</span>
											<span class="pull-right badge badge-info">+11</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										See all notifications
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
								<li class="nav-header">
									<i class="icon-envelope-alt"></i>
									5 Messages
								</li>

								<li>
									<a href="#">
										<img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												Ciao sociis natoque penatibus et auctor ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>a moment ago</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												Vestibulum id ligula porta felis euismod ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>20 minutes ago</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												Nullam quis risus eget urna mollis ornare ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>3:15 pm</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										See all messages
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="assets/avatars/avatar2.png" alt="Jason's Photo" />
								<span class="user-info">
									<small>Bienvenido,</small>
									<?php echo $_SESSION["username"] ?>
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										Configuracion
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="php/cerrar.php">
										<i class="icon-off"></i>
										Cerrar sesion
									</a>
								</li>
							</ul>
						</li>
					</ul><!--/.ace-nav-->
				</div><!--/.container-fluid-->
			</div><!--/.navbar-inner-->
		</div>
		<!-- Inicio navegador -->
		<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>
			<!-- Inicio shortcuts -->
			<div class="sidebar" id="sidebar">
				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-small btn-success">
							<i class="icon-signal"></i>
						</button>

						<button class="btn btn-small btn-info">
							<i class="icon-pencil"></i>
						</button>

						<button class="btn btn-small btn-warning">
							<i class="icon-group"></i>
						</button>

						<button class="btn btn-small btn-danger">
							<i class="icon-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!--#sidebar-shortcuts-->

				<ul class="nav nav-list">
					<li id="phacerventa">
						<a href="?page=hacerventa">
							<i class="icon-shopping-cart"></i>
							<span class="menu-text"> Hacer venta </span>
						</a>
					</li>

					<li id="pestadisticas">
						<a href="?page=estadisticas">
							<i class="icon-dashboard"></i>
							<span class="menu-text"> Estadisticas </span>
						</a>
					</li>

					<li id="pproductos">
						<a href="#" class="dropdown-toggle">
							<i class="icon-edit"></i>
							<span class="menu-text"> Productos </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li id="pinventario">
								<a href="?page=productos/inventario">
									<i class="icon-double-angle-right"></i>
									Inventario
								</a>
							</li>

							<li id="pventaslocales">
								<a href="?page=productos/ventaslocales">
									<i class="icon-double-angle-right"></i>
									Ventas Locales
								</a>
							</li>

							<li id="pventasonline">
								<a href="?page=productos/ventasonline">
									<i class="icon-double-angle-right"></i>
									Ventas Online
								</a>
							</li>

							<li id="pdevoluciones">
								<a href="?page=productos/devoluciones">
									<i class="icon-double-angle-right"></i>
									Devoluciones
								</a>
							</li>

							<li id="ptraspasos">
								<a href="?page=productos/traspasos">
									<i class="icon-double-angle-right"></i>
									Traspasos
								</a>
							</li>
						</ul>
					</li>


					<li id="pempleados">
						<a href="?page=empleados">
							<i class="icon-group"></i>
							<span class="menu-text"> Empleados </span>
						</a>
					</li>

					<li id="pproveedores">
						<a href="?page=proveedores">
							<i class="icon-briefcase"></i>
							<span class="menu-text"> Proveedores </span>
						</a>
					</li>

					<li id="pclientes">
						<a href="?page=clientes">
							<i class="icon-male"></i>
							<span class="menu-text"> Clientes </span>
						</a>
					</li>


					<!--<li id="pcalendario">
						<a href="?page=calendario">
							<i class="icon-calendar"></i>

							<span class="menu-text">
								Calendario
								<span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
									<i class="icon-warning-sign red bigger-130"></i>
								</span>
							</span>
						</a>
					</li>-->

					<li>
						<a href="#" class="dropdown-toggle">
							<i class="icon-lock"></i>
							<span class="menu-text"> Administración </span>

							<b class="arrow icon-angle-down"></b>
						</a>

						<ul class="submenu">
							<li>
								<a href="profile.html">
									<i class="icon-double-angle-right"></i>
									Sucursales
								</a>
							</li>

							<li>
								<a href="pricing.html">
									<i class="icon-double-angle-right"></i>
									Usuarios
								</a>
							</li>
							<li>
								<a href="#" class="dropdown-toggle">
									<i class="icon-double-angle-right"></i>
									<span class="menu-text">Menu global </span>

									<b class="arrow icon-angle-down"></b>
								</a>

								<ul class="submenu">
									<li>
										<a href="profile.html">
											<i class="icon-double-angle-right"></i>
											Estadisticas
										</a>
									</li>

									<li>
										<a href="form-elements.html">
											<i class="icon-double-angle-right"></i>
											Inventario
										</a>
									</li>

									<li>
										<a href="form-wizard.html">
											<i class="icon-double-angle-right"></i>
											Ventas
										</a>
									</li>

									<li>
										<a href="wysiwyg.html">
											<i class="icon-double-angle-right"></i>
											Devoluciones
										</a>
									</li>

									<li>
										<a href="wysiwyg.html">
											<i class="icon-double-angle-right"></i>
											Traspasos
										</a>
									</li>

									<li>
										<a href="invoice.html">
											<i class="icon-double-angle-right"></i>
											Empleados
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="invoice.html">
									<i class="icon-double-angle-right"></i>
									Configuración
								</a>
							</li>

							<li>
								<a href="login.html">
									<i class="icon-double-angle-right"></i>
									Cerrar seción
								</a>
							</li>
						</ul>
					</li>
				</ul><!--/.nav-list-->

				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="#">Home</a>

							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>
						<li class="active">Hacer venta</li>
					</ul><!--.breadcrumb-->

					<div style="margin-top:.2em;" class="nav-search" id="nav-search">
						<span >Mexico, DF. Culhuacan, Coyoacán. </span>
						<!--<form class="form-search" />
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>-->
					</div><!--#nav-search-->
				</div>
